.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  width: 400px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(96, 138, 148, 0.5);
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
}

.status {
  width: 15px;
  height: 15px;
  margin-right: 20px;
  border-radius: 50%;
}

.online {
  composes: status;
  background-color: green;
}
.offline {
  composes: status;
  background-color: red;
}

.avatar {
  width: 70px;
  height: 70px;
  margin-right: 50px;
}

.name {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
}

.friendList {
  margin: 0;
  padding: 0;
  list-style: none;
}
