.list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 480px;
  margin-bottom: 20px;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(96, 138, 148, 0.5);
  overflow: hidden;
}

.title {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
}
