.rowBody {
  display: flex;
  align-items: center;
}

.dataBody {
  width: 130px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.rowBody:nth-child(2n + 1) {
  background-color: rgba(96, 138, 148, 0.1);
}
